body {
    font-family: Roboto;
}

.header {
    background-image: url("img/mobile/Logo_Logitech_dark\ 1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 39px;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0px;
}

.top__text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.top {
    background-color: lightgrey;
    padding: 25px 0 48px 0;
}

.top__img {
    margin-top: 94px;
    height: 256px;
    background-image: url(img/mobile/MX-Master\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 67px;
    background-position: center;
}

.top__arrow {
    margin-top: 40px;
    background-image: url(img/mobile/arrow.png);
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.center-content {
    display: flex;
    justify-content: center;
}

.bluetooth {
    background-color: #ededed;
    padding-top: 42px;
    padding-bottom: 18px;
}

.bluetooth__icon {
    height: 34px;
    background-image: url(img/mobile/icon-bluetooth.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 27px;
}

.bluetooth__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #c4c4c4;
    margin-top: 31px;
}

.bluetooth__img {
    background-image: url(img/mobile/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    height: 288px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.text-margin {
    margin-left: 34px;
    margin-right: 32px;
}

.info {
    padding-top: 70px;
    padding-bottom: 77px;
}

.info__item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__content {
    margin-top: 30px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.info__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.carousel {
    margin-bottom: 114px;
}

.info__text {
    margin-left: 67px;
    margin-right: 61px;
}

.info__item-heading {
    margin-bottom: 5px;
}

.flow {
    padding-top: 70px;
    padding-bottom: 218px;
    background-color: #ededed;
    background-image: url(img/mobile/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
    background-position: center bottom;
    background-repeat: no-repeat;

}

.flow__ol {
    margin-top: 36px;
    padding-left: 54px;
}

.text__flow {
    margin-bottom: 23px;
    text-align: left;
    width: 222px;
}

.settings {
    padding-top: 70px;
    background-color: #ededed;
}

.settings__slider {
    margin: 35px 22px 98px 22px;
}

.settings__content {
    background-color: #c4c4c4;
    padding: 23px 22px 26px 29px;
}

.settings__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.settings__img {
    height: 22px;
}

.text-settings {
    color: white;
    margin-left: 5px;
    margin-right: 11px;
}

.mouse__text {
    padding-top: 70px;
    padding-bottom: 20px;
}

.mouse__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 310px;
}

.mouse__img_1 {
    background-image: url(img/mobile/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ 2.png);
}

.mouse__img_2 {
    background-image: url(img/mobile/image\ 2.png);
}

.footer {
    background-color: #2F3132;
    height: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #c8c8c8;
    padding-top: 22px;
}