body {
    font-family: Roboto;
}

.header {
    background-image: url("img/mobile/Logo_Logitech_dark\ 1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 39px;
}

.heading {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: rgb(32, 32, 32);
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgb(32, 32, 32);
}

.top__text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.top {
    background-color: lightgrey;
    padding: 25px 0 48px 0;
}

.top__img {
    margin-top: 94px;
    height: 256px;
    background-image: url(img/mobile/MX-Master\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 67px;
    background-position: center;
}

.top__arrow {
    margin-top: 40px;
    background-image: url(img/mobile/arrow.png);
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.center-content {
    display: flex;
    justify-content: center;
}